* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#quiz-complete {
    display: none;
}

#high-score {
    display: none;
}

#quiz-container {
    width: 60%;
    max-width: 650px;
    margin: 75px auto;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#start {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
#startbtn {
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
    margin: 20px 10px 50px 10px;
    border: 1px solid gray;
    border-radius: 8px;
}
#startbtn:hover {
    background: rgb(35, 109, 143);
    color: white;
}
#timer {
    width: 85%;
    margin: 5px auto;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
#timer h3 {
    font-size: 20px;
    height: 25px;
    margin: 0 5px;
}
#quiz {
    margin: 30px auto 10px auto;
    width: 90%;
}
.question {
    font-size: 22px;
    margin: 5px;
}
#quiz p, #start p {
    margin: 6px 5px;
}
.options {
    list-style-position: inside;
    margin-top: 5px;
    width: 50%;
}
.options li {
    margin: 7px 5px;
    padding: 5px;
    background: lightblue;
    border-radius: 5px;
}
.options li:hover {
    background: rgb(35, 109, 143);
    color: white;
}

#outcome {
    width: 90%;
    border-top: 2px solid gray;
}
.outcome {
    font-style: italic;
    font-weight: normal;
    margin: 3px 5px 10px 5px;
}