* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#quiz-container {
    width: 50%;
    margin: 75px auto;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#timer {
    width: 90%;
    margin: 5px auto;
    display: flex;
    justify-content: flex-end;
}

#timer h3 {
    font-size: 18px;
    height: 25px;
}

#quiz {
    margin: 10px auto;
    width: 90%;
}
#quiz p {
    margin: 5px 5px;
}
.options {
    list-style-position: inside;
}
.options li {
    margin: 7px 5px;
    padding: 5px;
    background: lightblue;
}
.options li:hover {
    background: purple;
}

#outcome {
    width: 90%;
    border-top: 2px solid gray;
}

.outcome {
    font-style: italic;
    font-weight: normal;
    margin: 3px 5px;
}