* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#quiz-container {
    width: 50%;
    max-width: 650px;
    margin: 75px auto;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#start {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
#startbtn {
    font-size: 15px;
    padding: 5px;
    margin: 10px 10px;
}

#timer {
    width: 85%;
    margin: 5px auto;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

#timer h3 {
    font-size: 20px;
    height: 25px;
    margin: 0 5px;
}

#quiz {
    margin: 10px auto;
    width: 90%;
}
#quiz h2 {

}
#quiz p, #start p {
    margin: 5px 0px;
}
.options {
    list-style-position: inside;
    margin-top: 5px;
}
.options li {
    margin: 7px 5px;
    padding: 5px;
    background: lightblue;
}
.options li:hover {
    background: rgb(35, 109, 143);
}

#outcome {
    width: 90%;
    border-top: 2px solid gray;
}
.outcome {
    font-style: italic;
    font-weight: normal;
    margin: 3px 5px;
}